.card {
float: left;
  width: 3em;
  height: 7em;
  background-color: lightblue;
  font-size: 2em;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 0.1em solid #e1e1e1;
  box-sizing: border-box;
  padding: 0.2em;
  box-shadow: 0.05em 0.05em gray;
  border-radius: 0.3em;
  margin: 0.1em;
}

.covered {
  background-image: url("../logo.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-color: white;
  cursor: pointer;
}

.matched {
  background-color: pink;
  border: 0.1em dashed white;
  box-sizing: border-box;
  cursor: not-allowed;
}
